.home {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.home .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home .container.vazio::after {
  content: 'Nenhum item encontrado';
  position: absolute;
  color: #000;
  font-weight: 700;
  width: 100%;
  text-align: center;
  animation: slide 0.3s ease-out;
}

.home .container .search {
  margin: 50px 0;
  display: grid;
  place-items: center;
  position: relative;
}

.home .container .search input {
  width: 90%;
  border: 1px solid grey;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: #FAF9F6;
  outline: transparent;
  transition: outline 0.3s ease-out;
  position: relative;
}

.home .container .search input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.25);
}

.home .container .search svg {
  position: absolute;
  left: 2.25rem;
}

.home .container .lista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: hidden;
  max-height: 80%;
  scrollbar-width: thin;
}

.home .container .lista > div {
  position: relative;
  margin-right: 5px;
}

.home .container .lista > div:hover {
  background-color: rgba(236, 236, 236, 0.8);
  border-radius: 6px;
}

.home .container .lista button {
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  display: none;
  animation: slide-reverse 0.2s ease-out;
}

.home .container .lista button:hover {
  color: red;
}

.home .container .lista > div:hover button {
  display: block;
}

.home .container .lista .item {
  display: flex;
  align-items: center;
  animation: slide 0.3s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.home .container .lista .item pre {
  transform: scale(0.8);
}

.home .container .lista .item a {
  text-decoration: none;
  color: #000;
  padding: 15px 0;
  padding-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home .container .lista .item a::before {
  content: '•';
  margin-right: 10px;
}

.home .container .lista .item > div {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: right 0.1s linear;
}

.home .container .lista .item:hover > div {
  right: 0.5rem;
}

.home .container .lista .input {
  padding-left: 10px;
  background-color: rgba(236, 236, 236, 0.8);
  border-radius: 8px;
}

.home .container .lista .input::before {
  content: '•';
  margin-right: 10px;
}

.home .container .lista .input input {
  width: 100%;
  padding: 15px 0;
  outline: none;
  border: none;
  background-color: transparent;
}



.botoes {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: -120px;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

input[type='file'] {
  color: transparent;
}

.botoes .btn {
  padding-bottom: 12px;
  position: relative;
}

.botoes .btn button {
  background-color: #000;
  color: #FAF9F6;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.botoes .btn button:hover {
  transform: scale(1.1);
}

.botoes .btn button:hover svg {
  transform: scale(1);
}

.botoes .btn button svg {
  transform: scale(1.25);
  transition: all 0.2s;
}

.botoes .btn pre {
  display: none;
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 42px;
}

.botoes .btn:hover pre {
  display: block;
  color: #000;
}



/* #modal {
  display: none;
}

#modal.ativo {
  display: block;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 200px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  animation: drop 0.5s ease-out;
}

#modal .container {
  background-color: #FAF9F6;
  width: 30%;
  margin: 0 auto;
  margin-top: 25%;
  padding: 50px;
  border-radius: 6px;
} */