.erro-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.erro-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.erro-container h1 {
  font-size: 3rem;
}

.erro-container p {
  padding-bottom: 64px;
}

.erro-container a {
  display: flex;
  align-items: center;
  color: black;
}

.erro-container a svg {
  margin-right: 16px;
}
